@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
    font-family: Arial, Helvetica, sans-serif;
}

#principal {
    width: 80%;
    margin: 50px auto;
}

header {
    position: relative;
    background-color: #081A24;
}

header nav {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header li {
    display: inline-block;
    padding: 10px;
}

header li a {
    text-decoration: none;
    color: #22545B;
    transition: all .5s ease-in;
}

header li a:hover {
    color: white;
}

header .logotipo {
    margin-left: 15%;
}

header ~ img {
    width: 100%;
}

.portfolio {
    text-align: center;
    margin: 30px;
}

.portfolio h1 {
    margin-bottom: 20px;
}

.gallery {
    margin: 0px auto 30px auto;
    width: 80%;
}

.gallery .gallery-card {
    display: inline-block;
    text-align: center;
    padding: 5px;
}

.gallery .gallery-title {
    font-weight: bold;
    letter-spacing: 5px;
}

.about {
    background: url(imagens/bg_detalhe.png) no-repeat right bottom;
    background-size: cover;
    color: white;
    padding: 50px;
}

.about h2 {
    margin-bottom: 20px;
}

.about p {
    width: 70%;
}

#contact {
    margin: 30px 0px;
    text-align: center;
    color: #003D52;
    font-weight: bolder;
    font-size: 1.2em;
}