@charset "UTF-8";

* {
    padding: 0px;
    margin: 0px;
}

#principal {
    width: 80%;
    margin: 50px auto;
}

header {
    position: relative;
    background-color: #081A24;
}

header nav {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

header li {
    display: inline-block;
    padding: 10px;
}

header li a {
    text-decoration: none;
    color: #22545B;
    transition: all .5s ease-in;
}

header li a:hover {
    color: white;
}

header ~ img {
    width: 100%;
}